{% extends 'template.html' %}
{% block about %}
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">This is part of the Docker project made at ENSIT</h2>
                    <hr class="divider light my-4" />
                    <p class="text-white-50 mb-4">The aim of this project is to classify music based on it's genre and then create a container using docker to classify it</p>
                    <p class="text-white-50 mb-4">Automatic music genre classification is the classification of a piece of music into
                        its corresponding genre (such as jazz or rock) by a computer. It is considered
                        to be a cornerstone of the research area Music Information Retrieval (MIR) and
                        closely linked to the other areas in MIR. It is thought that MIR will be a key
                        element in the processing, searching and retrieval of digital music in the near
                        future.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}